name: CI - Release Next

on:
  push:
    branches:
      - step-8/add-pipeline
      - release/next

jobs:
  test-suite:
    name: Test suite (PHP ${{ matrix.php }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.4']

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Start Docker stack
        run: |
          docker compose -f compose.yaml up -d --build

      - name: Setup project
        run: |
          make setup

    #   - name: Build frontend assets
    #     run: |
    #       php bin/console sass:build

    #   - name: Run PHPUnit tests
    #     run: |
    #       php bin/phpunit

    #   - name: Run static analysis
    #     run: |
    #       php -d memory_limit=1G vendor/bin/phpstan
